<h1> Destination Show Page </h1>
<h2><%= @destination.name %></h2>
<h3><%= @destination.country %></h3>

5 Most recent posts
link to featured post(most likes)
average age of blogger who has written about destination